---
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Counter from "./Counter";

const { classes } = Astro.props;
const achievement = await getEntry("sections", "achievement");
---

{
  achievement.data.enable && (
    <section class="section pt-10 px-4">
      <div class={`container-lg text-center rounded-2xl ${classes}`}>
        <h2
          class="mb-12 text-h3"
          data-aos="fade-up-sm"
          set:html={markdownify(achievement.data.title)}
        />
        <div
          class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5 container"
          id="observeCountUp"
        >
          {achievement.data.achievements.map(
            (a: { title: number; content: string; suffix: string }) => (
              <div
                class="flex flex-col items-center py-4 lg:py-8 card colorize-hover-card"
                data-aos="fade-up-sm"
                data-aos-delay="50"
              >
                <Counter
                  className="text-h1 font-bold"
                  suffix={a.suffix}
                  start={0}
                  end={a.title}
                  client:load
                />

                <span
                  class="text-dark font-medium"
                  set:html={markdownify(a.content)}
                />
              </div>
            ),
          )}
        </div>
      </div>
    </section>
  )
}
