---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { markdownify, plainify } from "@/lib/utils/textConverter";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { post } = Astro.props;
const { title, image, date, button, author } = post.data;
---

<div class="card-lg colorize-blog-card shadow p-4 flex flex-col justify-between">
  <img
    src={image}
    alt="Blog Thumbnail"
    width="386"
    height="224"
    class="w-full rounded-lg"
  />

  <div class="p-3 pt-0">
    <span
      class="inline-block bg-white drop-shadow-md text-base-sm font-medium rounded-md px-2 py-2 leading-none -translate-y-4"
      >{dateFormat(date)}</span
    >
    <div class="mt-2">
      <h5 class="mb-2" set:html={markdownify(title)} />
      <p class="text-sm">
        {plainify(post.body?.slice(0, Number(summary_length)))}
      </p>
    </div>
  </div>
  <div>
    <hr class="my-5 colorize-blog-card-hr" />
    <div class="flex w-full justify-between">
      <a href="blog-single.html" class="colorize-blog-card-btn">{button}</a>
      <div class="flex items-center gap-x-1">
        <img
          src="images/user-sm.png"
          alt="Icon"
          width="20"
          height="20"
          class="select-none"
          draggable="false"
        />
        <span class="text-base-sm" set:html={markdownify(author)} />
      </div>
    </div>
  </div>
</div>
