---
import { markdownify } from "@/lib/utils/textConverter";
import Accordion from "@/shortcodes/Accordion";
import type { Faq } from "@/types";
import { getEntry } from "astro:content";

const pageIndex = await getEntry("sections", "faq");
const { title, badge, content, faqs } = pageIndex.data as Faq;
---

<div class="mb-12 text-center">
  <span
    class="bg-secondary/15 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
    set:html={markdownify(badge)}
  />

  <h2 class="mb-4" set:html={markdownify(title)} />

  <p
    class="mb-7 text-dark/75 lg:col-8 mx-auto"
    set:html={markdownify(content)}
  />
</div>

<div class="grid gap-y-5">
  {
    faqs.map((faq) => (
      <Accordion title={faq.header} children={faq.content} client:load />
    ))
  }
</div>
