---
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { Insight } from "@/types";
import { getEntry } from "astro:content";

const sectionIndex = await getEntry("sections", "insights");
const { insight } = sectionIndex?.data as Insight;
---

<section>
  {
    insight.map((i, index: number) => (
      <div class="section">
        <div class="container">
          <div class="row items-center justify-between gap-y-10">
            <div
              class={`lg:col-6 text-center lg:text-left ${index % 2 && "order-1"}`}
              data-aos="fade-left-sm"
            >
              <h3 class="mb-4" set:html={markdownify(i.title)} />
              <p class="mb-8" set:html={markdownify(i.content)} />

              <div
                class={`grid gap-5 justify-center lg:justify-start ${index % 2 ? "grid-cols" : "sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2"}`}
              >
                {i.insights.map((i) => (
                  <div class="flex items-center gap-x-3 rounded-md p-3 w-full colorize-list-card">
                    <span>
                      <i class="fa-solid @@fa-icon colorize-icon text-xl" />

                      <DynamicIcon
                        icon={i.icon}
                        className="colorize-icon text-xl"
                      />
                    </span>
                    <span class="text-sm font-semibold text-dark capitalize">
                      {i.title}
                    </span>
                  </div>
                ))}
              </div>
            </div>
            <div class="lg:col-6" data-aos="zoom-out-sm">
              <div
                class={`card-lg border-primary bg-primary/15 max-w-[560px] p-5 ${index % 2 ? "border-quaternary bg-quaternary/15 mr-auto" : "border-primary bg-primary/15 ml-auto"}`}
              >
                <img
                  src={i.image}
                  alt="Feature Image"
                  width="505"
                  height="395"
                  draggable="false"
                  class="w-full select-none"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>
