---
import { markdownify } from "@/lib/utils/textConverter";
import type { Testimonial } from "@/types";
import { FaChevronLeft, FaChevronRight } from "react-icons/fa6";
const { testimonial } = Astro.props;

const { enable, title, badge, testimonials } = testimonial.data as Testimonial;
---

{
  enable && (
    <section class="section">
      <div class="px-4">
        <div class="container-lg card-lg bg-tertiary/15 border-tertiary">
          <div class="section-inner container mx-auto">
            <span
              class="bg-tertiary/35 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
              data-aos="fade-up-sm"
              set:html={markdownify(badge)}
            />
            <div class="flex justify-between xl:items-end flex-col xl:flex-row gap-y-6">
              <h2
                class="xl:col-6"
                data-aos="fade-up-sm"
                data-aos-delay="50"
                set:html={markdownify(title)}
              />

              <div class="flex items-center gap-x-2 ml-auto mr-5 xl:mr-0 xl:ml-0">
                <button class="testimonial-swiper-prev btn-carousel-primary">
                  <FaChevronLeft className="text-2xl" />
                </button>
                <button class="testimonial-swiper-next btn-carousel-primary">
                  <FaChevronRight className="text-2xl" />
                </button>
              </div>
            </div>

            <div class="mt-8 testimonial-slider overflow-x-hidden">
              <div class="swiper-wrapper">
                {testimonials.map((t, i) => (
                  <div class="swiper-slide">
                    <div
                      class={`card-lg testimonial-bg bg-white p-6 lg:px-8 lg:py-12 h-full`}
                    >
                      <p
                        class="text-sm mb-7 font-medium"
                        set:html={markdownify(t.content)}
                      />
                      <div class="flex items-center gap-x-4">
                        <img
                          src={t.avatar}
                          alt="Profile Image"
                          class="bg-secondary/15 rounded-full"
                          width="64"
                          height="64"
                        />
                        <div class="">
                          <h6 set:html={markdownify(t.name)} />
                          <span
                            class="block text-sm mt-1"
                            set:html={markdownify(t.designation)}
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Navigation } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      spaceBetween: 24,
      loop: true,
      modules: [Autoplay, Navigation],
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1360: {
          slidesPerView: 3,
        },
      },

      navigation: {
        nextEl: ".testimonial-swiper-next",
        prevEl: ".testimonial-swiper-prev",
      },
    });
  });
</script>
