---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify, slugify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
const { summary_length } = config.settings;

const BLOG_FOLDER = "blog";

const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  description={postIndex.data.description}
>
  <section class="section-hero mb-24 xl:mb-28">
    <div class="text-center">
      <h1 class="page-heading" set:html={markdownify(postIndex.data.title)} />
      <p
        class="font-medium mb-10"
        data-aos="fade-up-sm"
        data-aos-delay="50"
        set:html={markdownify(postIndex.data.description!)}
      />
      <div
        class="container grid lg:grid-cols-2 items-center gap-y-6"
        data-aos="fade-up-sm"
        data-aos-delay="100"
      >
        <img
          src={sortedPosts[0].data.image}
          alt="Dashboard Image"
          width="630"
          height="460"
          draggable="false"
          class="select-none w-full rounded-lg"
        />
        <div class="lg:p-10 pr-0 p-5 text-left">
          <div class="flex items-center gap-x-4">
            <span
              class="inline-block bg-white drop-shadow-md text-base-sm font-medium rounded-md px-2 py-2 leading-none -translate-y-4"
              >{dateFormat(sortedPosts[0].data.date)}</span
            >
          </div>
          <h5 class="mb-6" set:html={markdownify(sortedPosts[0].data.title)} />
          <p
            class="font-medium mb-8"
            set:html={markdownify(sortedPosts[0].body.slice(0, summary_length))}
          />
          <a
            class="btn-sm btn-primary"
            href={`/${BLOG_FOLDER}/${slugify(sortedPosts[0].slug)}`}
            >Read More</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="mx-auto text-center mb-6 lg:col-8">
        <h2 class="mb-10" set:html={markdownify(postIndex.data.badge!)} />
      </div>

      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-5 md:gap-8"
      >
        {currentPosts.map((post, i) => <BlogCard post={post} i={i} />)}
      </div>
      <Pagination
        section={BLOG_FOLDER}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
