---
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { markdownify } from "@/lib/utils/textConverter";
import BlogCard from "../BlogCard.astro";

const BLOG_FOLDER = "blog";
const { post } = Astro.props;

const posts = await getSinglePage(BLOG_FOLDER);
const similarPosts = similarItems(post, posts);

const { Content } = await post.render();
const { title, description, author, categories, image, date, tags } = post.data;
---

<section class="section-hero-bottom-extended">
  <div class="container-content">
    <h1 class="page-heading" set:html={markdownify(title)} />
    <p
      class="font-medium mb-6"
      data-aos="fade-up-sm"
      data-aos-delay="50"
      set:html={markdownify(description)}
    />

    <div
      class="flex items-center flex-wrap gap-5 mb-4 md:mb-0"
      data-aos="fade-up-sm"
      data-aos-delay="100"
    >
      <img
        src="/images/blog/blog-author.png"
        alt="Profile Image"
        width="64"
        height="64"
        draggable="false"
        class="select-none mr-2"
      />
      <span
        class="text-base text-dark font-bold mr-8"
        set:html={markdownify(author)}
      />

      <span
        class="inline-block bg-white drop-shadow-md text-base-sm font-medium rounded-md px-2 py-2 leading-none"
        >{dateFormat(date)}</span
      >
    </div>
  </div>
</section>

<section
  class="section-hero-overlap mx-auto"
  data-aos="fade-up-sm"
  data-aos-delay="150"
>
  <div class="container-content">
    <img
      src={image}
      alt="Dashboard Image"
      draggable="false"
      class="select-none w-full rounded-xl"
    />
  </div>
</section>

<section class="section">
  <div class="container-content">
    <div class="content">
      <Content />
    </div>
  </div>
</section>

<!--Recent Posts-->
<div class="section">
  <div class="container">
    <div class="mx-auto text-center mb-6 lg:col-8">
      <h2 class="mb-10" data-aos="fade-up-sm" data-aos-delay="50">
        Recent Posts
      </h2>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-8">
      {
        similarPosts
          .slice(0, 3)
          .map((post, i) => <BlogCard post={post} i={i} />)
      }
    </div>
  </div>
</div>
