---
import { markdownify } from "@/lib/utils/textConverter";
import type { PricingSection } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa6";

const pricing = await getEntry("pricing", "-index");

const { title, badge, features, plans } = pricing.data as PricingSection;
---

<section class="section">
  <div class="container">
    <div class="mx-auto text-center mb-6 lg:col-8">
      <span
        class="bg-secondary/15 px-5 py-1 rounded-full text-dark text-base-sm inline-block mb-3"
        data-aos="fade-up-sm"
        set:html={markdownify(badge)}
      />
      <h2 class="mb-10" data-aos="fade-up-sm" set:html={markdownify(title)} />
      <div
        class="bg-white rounded-md lg:rounded-full shadow px-4 lg:px-10 py-1 lg:py-2"
        data-aos="fade-up-sm"
      >
        <ul class="flex justify-between flex-col md:flex-row">
          {
            features.map((f, i) => (
              <li
                class={`font-semibold flex items-center ${(i === 1 && "text-quaternary") || (i === 2 && "text-primary") || (i === 3 && "text-tertiary")}`}
              >
                <FaCheck className="mr-2" />

                <span class="" set:html={markdownify(f)} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!--Bill Toggler-->
    <div class="monthly-toggler" data-aos="fade-up-sm">
      <span>Billed Monthly</span>
      <button
        class="relative rounded-full w-[42px] h-[20px] p-[2px] bg-dark/40 transition-all"
        id="bill-switch"
        aria-label="switch pricing"
      >
        <div class="w-[16px] h-[16px] rounded-full bg-white transition-all">
        </div>
      </button>
      <span class="text-dark">Billed Yearly</span>
    </div>

    {
      plans.map((plan) => (
        <div
          class="grid lg:grid-cols-2 gap-4 xl:gap-8"
          data-aos="fade-up-sm"
          id={plan?.id}
        >
          {plan.packs.map((pack) => (
            <div class="p-5 xl:px-9 xl:py-11 shadow colorize-pricing-card">
              <div class="grid grid-cols-10">
                <div class="col-span-4 colorize-pricing-tag p-5 rounded-lg text-left">
                  <div class="bg-white rounded-md mb-10 inline-block p-4">
                    <img src={pack.icon} alt="Logo" width="42" height="42" />
                  </div>
                  <h6 class="font-semibold">{pack.type}</h6>
                  <span class="text-h3 text-dark font-bold">{pack.price}</span>
                  <span class="text-sm text-dark">/{pack.compound}</span>
                </div>
                <div class="col-span-6 ml-4 xl:ml-6 flex flex-col justify-between">
                  <ul class="space-y-4">
                    {pack.features.map((feature) => (
                      <li class="flex items-start gap-x-2">
                        <span class="colorize-pricing-check rounded-sm w-5 h-5 grid place-items-center">
                          <FaCheck className="text-white text-base leading-none" />
                        </span>
                        <span class="text-sm font-medium text-dark">
                          {feature}
                        </span>
                      </li>
                    ))}
                  </ul>

                  <a href="#" class="colorize-pricing-btn text-center">
                    Start Free Trial
                  </a>
                </div>
              </div>
            </div>
          ))}
        </div>
      ))
    }

    <!--Pricing Cards-->
  </div>
</section>

<script>
  // ########################## BILL SWITCHER ##########################
  document.addEventListener("astro:page-load", () => {
    let billStatus = "monthly";
    const billToggler = document.getElementById("bill-switch");

    if (billToggler) {
      billToggler.addEventListener("click", (e) => {
        const billSwitch = document.getElementById("bill-switch");
        const monthlyElement = document.getElementById("monthly");
        const yearlyElement = document.getElementById("yearly");

        if (billStatus !== "monthly") {
          billStatus = "monthly";
          monthlyElement!.style.display = "none";
          yearlyElement!.style.display = "grid";
          billSwitch!.classList.toggle("toggleBtnOn");
        } else {
          billStatus = "yearly";
          yearlyElement!.style.display = "none";
          monthlyElement!.style.display = "grid";
          billSwitch!.classList.toggle("toggleBtnOn");
        }
      });
    }
  });
</script>
