---
import { markdownify } from "@/lib/utils/textConverter";
import type { IntegrationCard } from "@/types";
import { getEntry } from "astro:content";

const integration = await getEntry("integration", "-index");
const { homepage_section } = integration.data as IntegrationCard;
---

<section class="section">
  <div class="px-4">
    <div class="container-lg card-lg bg-secondary/15 border-secondary">
      <div
        class="section-inner container mx-auto flex lg:flex-row flex-col items-center gap-x-10 gap-y-14"
      >
        <div class="flex-1">
          <span
            class="bg-secondary/15 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
            data-aos="fade-left-sm"
            set:html={markdownify(homepage_section.badge)}
          />

          <h2
            class="mb-4"
            data-aos="fade-left-sm"
            data-aos-delay="50"
            set:html={markdownify(homepage_section.title)}
          />
          <p
            class="mb-7 text-dark/75 font-medium"
            data-aos="fade-left-sm"
            data-aos-delay="100"
            set:html={markdownify(homepage_section.content)}
          />
          {
            homepage_section.button.enable && (
              <a
                href={homepage_section.button.link}
                class="btn btn-secondary"
                set:html={markdownify(homepage_section.button.label)}
              />
            )
          }
        </div>

        <div class="flex-1">
          <div class="animate-features">
            <div class="animate-features-top-images">
              {
                homepage_section.apps
                  .slice(0, 3)
                  .map((app: string | null | undefined, i: number) => (
                    <img
                      src={app}
                      alt="Feature Tool Image"
                      data-aos="fade-up-sm"
                      data-aos-delay={i * 45}
                    />
                  ))
              }
            </div>
            <div class="animate-features-middle-images">
              {
                homepage_section.apps
                  .slice(3, 7)
                  .map((app: string | null | undefined, i: number) => (
                    <img
                      src={app}
                      alt="Feature Tool Image"
                      data-aos="fade-up-sm"
                      data-aos-delay={i * 75}
                    />
                  ))
              }
            </div>
            <div class="animate-features-bottom-images">
              {
                homepage_section.apps
                  .slice(7)
                  .map((app: string | null | undefined, i: number) => (
                    <img
                      src={app}
                      alt="Feature Tool Image"
                      data-aos="fade-up-sm"
                      data-aos-delay={i * 100}
                    />
                  ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
