---
import Services from "@/components/feature/Services.astro";
import WavePlayButton from "@/components/WavePlayButton.astro";
import WhatWeDo from "@/components/WhatWeDo.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import { getEntry } from "astro:content";

const pageIndex = await getEntry("how-it-works", "-index");
const { title, meta_title, description, banner, processes } = pageIndex.data;

const featureIndex = await getEntry("features", "-index");
const { service } = featureIndex.data;

const call_to_action = await getEntry("sections", "call-to-action");
---

<Base title={title}>
  <section class="section-hero-bottom-extended">
    <div class="text-center">
      <h2
        class="mb-4"
        data-aos="fade-up-sm"
        data-aos-delay="50"
        set:html={markdownify(title)}
      />
      <p
        class="mb-7 text-dark/75 xl:col-6 text-balance px-10 mx-auto
        font-medium"
        data-aos="fade-up-sm"
        data-aos-delay="100"
        set:html={markdownify(description!)}
      />
    </div>
  </section>

  <section class="section-hero-overlap" data-aos="fade-up-sm">
    <div
      class="bg-white shadow rounded-lg p-5 py-10 lg:p-10 2xl:p-24 flex 2xl:flex-row flex-col-reverse gap-y-8 gap-x-10"
    >
      <div class="flex-1">
        <h3 class="mb-4" set:html={markdownify(banner?.title!)} />
        <p class="mb-7" set:html={markdownify(banner?.content!)} />

        {
          banner?.button?.enable && (
            <a href={banner?.button.link} class="btn btn-primary inline-block">
              {banner?.button.label}
            </a>
          )
        }
      </div>

      <div class="flex justify-center relative w-full flex-1">
        <div class="yt-container overflow-hidden rounded-lg">
          <img
            id="yt-custom-thumb"
            src={banner?.video?.thumbnail}
            class="brightness-50 object-cover h-full"
            alt="Integration"
          />
          <!--YOUTUBE IFRAME-->
          <iframe
            id="yt-iframe"
            src={`https://www.youtube.com/embed/${banner?.video?.id}`}
            frameborder="0"
            style="display: none"
            loading="lazy"></iframe>
        </div>
        <!--BTN-->
        <div
          class="absolute inset-0 grid place-items-center"
          id="yt-custom-thumb-btn"
        >
          <button> <WavePlayButton /> </button>
        </div>
      </div>
    </div>
  </section>

  <WhatWeDo />

  <section class="section">
    <div
      class="container-lg bg-secondary/15 p-10 lg:p-20 rounded-lg space-y-20 mx-auto"
    >
      {
        processes?.map((process, i: number) => (
          <div class="colorize-process flex gap-10 lg:gap-28 flex-col lg:flex-row items-center">
            <div
              class={`flex-1 flex justify-center ${i % 2 === 0 && "order-2"}`}
              data-aos="zoom-out-sm"
            >
              <div class="process-card inline-block p-5">
                <img
                  src={process.image}
                  alt="Build And Design Photo"
                  class="w-full rounded-lg shadow select-none"
                  draggable="false"
                  width="510"
                  height="400"
                />
              </div>
            </div>
            <div class="flex-1" data-aos="fade-left-sm">
              <h3 class="mb-4" set:html={markdownify(process.title)} />
              <p
                class="font-medium mb-7"
                set:html={markdownify(process.content)}
              />
              {process?.button?.enable && (
                <a href={process.button.link} class="btn btn-primary">
                  {process.button.label}
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <Services service={service} />

  <CallToAction call_to_action={call_to_action} />
</Base>
