---
import Player from "@/components/about/Player.astro";
import StoryCard from "@/components/about/StoryCard.astro";
import VisionTab from "@/components/about/VisionTab";
import Card from "@/components/Card.astro";
import Faq from "@/components/Faq.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { title, description, meta_title, video, badge, story, value, team } =
  about.data;
const { Content } = await about.render();
const call_to_action = await getEntry("sections", "call-to-action");
---

<Base title={title} meta_title={meta_title} description={description}>
  <!-- header -->
  <section class="section-hero-bottom-extended">
    <div
      class="flex flex-col lg:flex-row gap-x-4 gap-y-14 items-center container mx-auto w-full"
    >
      <div class="text-center">
        <span
          class="bg-white/40 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
          data-aos=""
          set:html={markdownify(badge!)}
        />

        <h1
          class="page-heading"
          data-aos="fade-up-sm"
          data-aos-delay="50"
          set:html={markdownify(title)}
        />
        <p
          class="mb-7 text-dark/75 lg:col-8 px-10 mx-auto font-medium"
          data-aos="fade-up-sm"
          data-aos-delay="100"
          set:html={markdownify(description!)}
        />
      </div>
    </div>
  </section>
  <Player video={video} />

  <!-- our story -->
  <section class="section">
    <div class="container">
      <div class="text-center mb-11">
        <span
          class="bg-secondary/20 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
          data-aos="fade-up-sm"
          set:html={markdownify(story!.badge!)}
        />

        <h2
          class="mb-4"
          data-aos="fade-up-sm"
          data-aos-delay="50"
          set:html={markdownify(story!.title)}
        />
        <p
          class="mb-7 text-dark/75 lg:col-8 px-10 mx-auto font-medium"
          data-aos="fade-up-sm"
          data-aos-delay="100"
          set:html={markdownify(story!.description)}
        />
      </div>
      <div class="grid md:grid-cols-2 gap-10">
        {story!.cards.map((card, i: number) => <StoryCard card={card} i={i} />)}
      </div>
    </div>
  </section>

  <!-- our value -->
  <section>
    <div class="section">
      <div class="container">
        <div class="text-center mb-11">
          <span
            class="bg-secondary/20 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
            data-aos="fade-up-sm"
            set:html={markdownify(value!.badge!)}
          />

          <h2
            class="mb-4"
            data-aos="fade-up-sm"
            data-aos-delay="50"
            set:html={markdownify(value!.title)}
          />
          <pß
            class="mb-7 text-dark/75 lg:col-8 px-10 mx-auto font-medium"
            data-aos="fade-up-sm"
            data-aos-delay="100"
            set:html={markdownify(value!.description)}
          />
        </div>
        <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-5">
          {value!.cards.map((card, i: number) => <Card card={card} i={i} />)}
        </div>
      </div>
    </div>
    <!-- inspration -->
    <VisionTab visions={value} client:only="react" />
  </section>

  <!-- team -->
  <section class="section">
    <div class="container">
      <div class="text-center mb-14">
        <span
          class="bg-secondary/20 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
          data-aos="fade-up-sm"
          set:html={markdownify(team.badge)}
        />

        <h2
          class="mb-4"
          data-aos="fade-up-sm"
          data-aos-delay="50"
          set:html={markdownify(team.title)}
        />
      </div>

      <div
        class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-12"
        data-aos="fade-up-sm"
      >
        {
          team.members.map((member) => (
            <div class="card colorize-hover-card p-5 shadow">
              <div class="px-20 pt-10 colorize-hover-card-icon rounded-md">
                <img
                  src={member.image}
                  alt="Team Profile Image"
                  width="370"
                  height="302"
                  draggable="false"
                  class="w-full select-none"
                />
              </div>
              <div class="mt-6 text-center">
                <h5 class="mb-2" set:html={markdownify(member.name)} />
                <span
                  class="text-sm text-text"
                  set:html={markdownify(member.designation)}
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- faq -->
  <section class="section">
    <div class="px-4">
      <div class="container-lg card-lg bg-secondary/15 border-secondary">
        <div class="section-inner text-center container mx-auto">
          <Faq />
        </div>
      </div>
    </div>
  </section>
  <CallToAction call_to_action={call_to_action} />
</Base>
