---
import BlogCard from "@/components/BlogCard.astro";
import Faq from "@/components/Faq.astro";
import Features from "@/components/feature/Features.astro";
import HowItWorksTab from "@/components/how-it-works/HowItWorksTab";
import IntegrationSection from "@/components/integration/IntegrationSection.astro";
import PricingSection from "@/components/pricing/PricingSection.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    buttons: Button[];
  };
  achievement: {
    enable: boolean;
    title: string;
    achievements: {
      title: string;
      content: string;
    }[];
  };
  how_it_work: {
    enable: boolean;
    title: string;
    content: string;
    processes: {
      title: string;
      icon: string;
      image: string;
      content: string;
    }[];
  };
  feature: Feature;
}
const BLOG_FOLDER = "blog";

const homepage = await getEntry("homepage", "-index");
const testimonial = await getEntry("sections", "testimonial");
const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);

const call_to_action = await getEntry("sections", "call-to-action");
const { banner, achievement, how_it_work, feature }: Homepage = homepage.data;
---

<Base>
  <!--Banner-->
  <section class="section-hero py-28 pb-20 2xl:pb-32">
    <div
      class="flex flex-col lg:flex-row gap-x-4 gap-y-14 items-center container mx-auto w-full"
    >
      <div class="flex-1">
        <h1 class="page-heading" data-aos="fade-left-sm">
          {banner.title}
        </h1>
        <p
          class="mb-10 font-medium"
          data-aos="fade-left-sm"
          data-aos-delay="50"
        >
          {banner.content}
        </p>
        <div data-aos="fade-left-sm" data-aos-delay="100">
          {
            banner.buttons.map((btn) => {
              btn.enable && (
                <a href={btn.link} class="btn btn-primary mr-3 mb-3">
                  {btn.label}
                </a>
              );
            })
          }
        </div>
      </div>
      <div class="flex-1">
        <div
          class="bg-quaternary/35 rounded-xl shadow-sm p-5 max-w-max"
          data-aos="zoom-out-sm"
        >
          <img
            src="images/hero-banner.png"
            alt="Banner Image"
            class="w-full select-none"
            draggable="false"
            width="568"
            height="409"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="px-4 mt-10 2xl:mt-0 fade-up opacity-0">
    <div
      class="2xl:-translate-y-20 card container-lg p-5 lg:py-9 lg:px-24 border-primary bg-white flex items-center flex-col 2xl:flex-row gap-y-8 shadow"
    >
      <span
        class="border-primary inline-block font-medium text-dark text-center 2xl:text-left"
      >
        Trusted by fastest growing companies
      </span>
      <div
        class="flex justify-evenly flex-wrap gap-4 w-full 2xl:ml-10 2xl:pl-10 2xl:border-l border-black infinite-x-scroll"
      >
        <img src="images/svg/company/coinbase.svg" alt="Coinbase Logo" />
        <img src="images/svg/company/dropbox.svg" alt="Dropbox Logo" />
        <img src="images/svg/company/slack.svg" alt="Slack Logo" />
        <img src="images/svg/company/spotify.svg" alt="Spotify Logo" />
        <img src="images/svg/company/coinbase.svg" alt="Coinbase Logo" />
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!--Our achievement-->
  {
    achievement.enable && (
      <section class="section pt-10 px-4">
        <div class="container-lg bg-secondary/15 rounded-2xl text-center py-16">
          <h2
            class="mb-12 text-h3"
            data-aos="fade-up-sm"
            set:html={markdownify(achievement.title)}
          />
          <div
            class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5 container"
            id="observeCountUp"
          >
            {achievement.achievements.map((a) => (
              <div
                class="flex flex-col items-center py-4 lg:py-8 card colorize-hover-card"
                data-aos="fade-up-sm"
                data-aos-delay="50"
              >
                <span
                  class="text-h1 font-bold"
                  id="yearOfExpCount"
                  set:html={markdownify(a.title)}
                />
                <span
                  class="text-dark font-medium"
                  set:html={markdownify(a.content)}
                />
              </div>
            ))}
          </div>
        </div>
      </section>
    )
  }
  <!-- achievement -->

  <!--How It Works-->

  {
    how_it_work.enable && (
      <section class="section">
        <div class="container">
          <div class="lg:col-6 mx-auto text-center mb-11">
            <h2
              class="mb-4"
              data-aos="fade-up-sm"
              set:html={markdownify(how_it_work.title)}
            />
            <p
              data-aos="fade-up-sm"
              data-aos-delay="50"
              set:html={markdownify(how_it_work.content)}
            />
          </div>
          <HowItWorksTab processes={how_it_work.processes} client:load />
        </div>
      </section>
    )
  }
  <!-- how it works -->

  <!-- Features -->
  {feature.enable && <Features feature={feature} />}
  <!-- /Features -->

  <Testimonial testimonial={testimonial} />
  <IntegrationSection />
  <PricingSection design={"section"}/>

  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="mx-auto text-center mb-6 lg:col-8">
        <span
          class="bg-secondary/15 px-5 py-1 rounded-full text-dark text-base-sm inline-block mb-3"
          set:html={markdownify(postIndex.data.badge!)}
        />
        <h2 class="mb-10" set:html={markdownify(postIndex.data.title!)} />
      </div>
      <!--prettier-ignore-->
      <div class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-5 md:gap-8">
       {posts.slice(0,3).map(post =>(
        <BlogCard post={post}/>
       ))}
      </div>
      <div class="flex justify-center w-full mt-12">
        <a href="/blog" class="btn btn-primary text-sm font-medium"
          >See All Post</a
        >
      </div>
    </div>
  </section>

  <!-- faq -->
  <Faq />
  <CallToAction call_to_action={call_to_action} />
</Base>
