---
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { Feature, SingleFeature } from "@/types";

interface Props {
  feature: Feature;
}

const { feature } = Astro.props as Props;
const { title, badge, content, features, insight } = feature;
---

<section>
  <div class="section">
    <div class="container">
      <div class="text-center mb-11">
        <span
          class="bg-secondary/15 px-5 py-1 rounded-full text-base-sm text-dark inline-block mb-3"
          data-aos="fade-up-sm"
          set:html={markdownify(badge)}
        />
        <h2
          class="mb-4"
          data-aos="fade-up-sm"
          data-aos-delay="50"
          set:html={markdownify(title)}
        />
        <p
          class="lg:col-7 mx-auto"
          data-aos="fade-up-sm"
          data-aos-delay="100"
          set:html={markdownify(content)}
        />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5">
        {
          features.map((feature: SingleFeature) => (
            <div
              class="p-4 pb-0 overflow-hidden colorize-feature-card transition-colors"
              data-aos="fade-up-sm"
              data-aos-delay="@@delay"
            >
              <div class="pt-9 px-3 pb-5 text-center">
                <h6 class="mb-4" set:html={markdownify(feature.title)} />
                <p class="text-sm" set:html={markdownify(feature.content)} />
              </div>
              <img
                src={feature.image}
                alt="Feature Image"
                class="w-full shadow-lg object-cover select-none"
                draggable="false"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>

  {
    insight.map((i, index) => (
      <div class="section">
        <div class="container">
          <div class="row items-center justify-between gap-y-10">
            <div
              class={`lg:col-6 text-center lg:text-left ${index % 2 && "order-1"}`}
              data-aos="fade-left-sm"
            >
              <h3 class="mb-4" set:html={markdownify(i.title)} />
              <p class="mb-8" set:html={markdownify(i.content)} />

              <div
                class={`grid gap-5 justify-center lg:justify-start ${index % 2 ? "grid-cols" : "sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2"}`}
              >
                {i.insights.map((i) => (
                  <div class="flex items-center gap-x-3 rounded-md p-3 w-full colorize-list-card">
                    <span>
                      <i class="fa-solid @@fa-icon colorize-icon text-xl" />

                      <DynamicIcon
                        icon={i.icon}
                        className="colorize-icon text-xl"
                      />
                    </span>
                    <span class="text-sm font-semibold text-dark capitalize">
                      {i.title}
                    </span>
                  </div>
                ))}
              </div>
            </div>
            <div class="lg:col-6" data-aos="zoom-out-sm">
              <div
                class={`card-lg border-primary bg-primary/15 max-w-[560px] p-5 ${index % 2 ? "border-quaternary bg-quaternary/15 mr-auto" : "border-primary bg-primary/15 ml-auto"}`}
              >
                <img
                  src={i.image}
                  alt="Feature Image"
                  width="505"
                  height="395"
                  draggable="false"
                  class="w-full select-none"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>
